:root{
  --main-font: 'Roboto', Arial, sans-serif;
  --clr-primary: rgb(3,3,3);
  --bgr-accent: rgb(204,0,0);
  --clr-accent: rgb(255,255,255);
  --clr-secondary: rgb(96,96,96);
  --clr-button-border: rgb(238,238,238);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
  color: var(--clr-primary);
  font-size: .8rem;
}

iframe {
  width: 100%;
  min-height: 70vh;
}

img {
  max-width: 100%;
  max-height: 100%;;
}

header {
  height: 56px;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

header > * {
  vertical-align: middle;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
}

#search-bar {
  height: 35px;
  display: flex;
}

#search-bar > * {
  height: 100%;
  margin: 0;
  padding: 0;
}

#search input, button{
  background: none;
  border-color: var(--clr-button-border);
  border-style:solid;
  border-width: 1px;
  border-image: none;
  appearance: none;
}

#search {
  display:none;
}

#search-button {
  width: 80px;
}

#microphone {
  width: 40px;
  border: none;
}

@media screen and (min-width: 55rem){

  #core {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 1rem;
  }

  #search {
    display:inherit;
    width: 100%;
    max-width: 575px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.related-link img {
  width: 10.5rem;
  height: 6rem;
}

.related-link {
  display: grid;
  margin-left: 1rem;
  margin-bottom: 1rem;
  gap: 0.6rem;
  grid-template-columns: 11rem 1fr;
}

.related-link h3 {
  margin-block-start: 0;
  margin-block-end: 0.5rem;
}

.related-link p {
  color: var(--clr-secondary);
  margin-block-start: 0;
  margin-block-end: 0.3rem;
  font-size: 0.85rem;
}

.author::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 1ch;
  width: 1rem;
  height: 1rem;
  background: url('images/check-filled.svg') 0 0 no-repeat;
  background-size: contain;
}

#main-title span {
  color: var(--clr-secondary);
}

.comment-time {
  color: var(--clr-secondary);
  font-weight: 100;
  font-size: 95%;
}

#menu-logo a{
  height: 50%;
  margin-left: 20px;
}

#user-links a{
  margin-right: 20px;
}

#user-links > a > * {
  vertical-align: middle;
}

#user-links {
  justify-content: flex-end;
}

#related-filter {
  display: flex;
  margin-left: 1rem;
  margin-bottom: 1rem;
  gap: 0.6rem;
}

#related-filter a {
  padding: 0.5rem 0.7rem;
  border-style: solid;
  border-width: 0.016rem;
  border-radius: 1.8rem;
  border-color: var(--clr-primary);
  text-decoration: none;
  color: var(--clr-primary);
}

#related-filter a:active {
  color: var(--clr-accent);
  background-color: var(--clr-primary);
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#logo img{
  height: 20px;
  width: auto;
}

.apps {
  height: 20px;
}
